*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: serif;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.nav-links a{
    text-decoration: none;
    color: whitesmoke;
}

.nav-links a:hover {
    color: burlywood;
}

.nav-links li{
    list-style: none;
}

.main-header {
    text-align: center;
    margin-top: 5%;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 10%;
    width: 50%;
    text-align: center;
    background: antiquewhite;
    color: black;
}

footer {
    position: fixed;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.project-desc {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 20px;
}

.project-display {
    padding-bottom: 100px;
}

.project-section {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background: antiquewhite;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

img {
    padding: 10px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-bottom: 100%;
}